@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    min-width: 12rem;
    background-color:gainsboro;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.card h2 {
    font-size: 2.5rem;
}

.button {
    background-color: blueviolet;
    border-radius: 0.3rem;
    border-color: transparent;
    padding: 0.5rem 0.3rem;
    color: white;
}

.button:hover{
    background-color: darkgoldenrod;
}

.contain {
    display: flex;
    gap: 1rem;
}